
.header{
    background-color: #cc822d;
    margin-bottom: 20px;
    text-align: right;
}
nav{
    padding-right: 100px;
}
nav a{
    text-decoration: none;
    padding: 15px;
    color: #fff;
    line-height: 50px;
    transition: all linear 0.3s;
}
nav a:hover{
    color: black;
    background-color: #fff;
}